*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

.contenitore_pagina{
    max-width: 100%;
    margin: 0 auto;
    background:#F6F8FA;
}

.contenitore_header{
    max-width: 100%;
    margin: 0 auto;
    background-color:white;
}

.contenitore_bottoni{
    max-width: 80%;
    margin: 20px auto;
    background-color:white;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    padding-top:20px;
    padding-left:40px;
    padding-bottom:15px;
    margin-bottom:5px;
}

.contenitore_main{
    max-width: 80%;
    margin: 0 auto;
    background-color:white;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

/*regole header*/

#logo{
    width:70px;
    margin-left:20px;
    vertical-align:middle;
    line-height:70px; 
    margin-bottom:15px;
    margin-top:15px;
}

#titolo{
    font-size:50px;
    position:relative;
    top:10px;
}

/* regole bottoni */

#pulsanti{
    padding-top:20px;
    padding-left:40px;
    margin-bottom:5px;
}

.bottone{
    display:inline-block;
    height:30px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    border-radius:12%;
}

#task{
    color:white;
    background-color:#48ACF2;
    width:80px;
}

#section{
    color:grey;
    border:1px solid grey;
    width:100px;
}

/*regole main*/

.elenco{
    padding-top:30px;
    padding-left:40px;
}

.triangolo{
    font-size:15px;
}

.categoria{
    font-size:30px;
}

li{
    font-size:20px;
    margin-top:20px;
}

.spunta{
    display:inline-block;
    height:30px;
    width:30px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    border-radius:50%;
    margin-right:10px;
}

.check{  
    color:green;
    border:1px solid green; 
}

.cross{
    color:red;
    border: 1px solid red;
}

.evidenzia{
    font-size:12px;
    display:inline-block;
    height:30px;
    width:60px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    border-radius:25%;
    color:white;
}

.azzurro{
    background-color:#48ACF2;
}

.viola{
    background-color:#9B75E2;
}

.acqua{
    background-color:#60C2A8;
}

.arancio{
    background-color:#F0A030;
}

.violetto{
    background-color:#D9659E;
}

.verde{
    background-color:#B1CA25;
}