*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenitore_header{
    max-width: 100%;
    margin: 0 auto;
}

.contenitore_main{
    max-width: 80%;
    margin: 20px auto;
    background:#F6F8FA; 
}

/*regole header*/

#logo{
    width:70px;
    margin-left:20px;
    vertical-align:middle;
    line-height:70px;
}

#titolo{
    font-size:50px;
    margin-top:20px;
}